@font-face {
  font-family: 'brandon-grotesque';
  src: local("Brandon Grotesque Regular"), local("Brandon-Grotesque-Regular"), url("../shared/BrandonGrotesque-Regular/BrandonGrotesque-Regular.woff2") format("woff2"), url("../shared/BrandonGrotesque-Regular/BrandonGrotesque-Regular.woff") format("woff"), url("../shared/BrandonGrotesque-Regular/BrandonGrotesque-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'brandon-grotesque-bold';
  src: local("Brandon Grotesque Bold"), local("Brandon-Grotesque-Bold"), url("../shared/BrandonGrotesque-Bold/BrandonGrotesque-Bold.woff2") format("woff2"), url("../shared/BrandonGrotesque-Bold/BrandonGrotesque-Bold.woff") format("woff"), url("../shared/BrandonGrotesque-Bold/BrandonGrotesque-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'brandon-grotesque-black';
  src: local("Brandon Grotesque Black"), local("Brandon-Grotesque-Black"), url("../shared/BrandonGrotesque-Black/BrandonGrotesque-Black.woff2") format("woff2"), url("../shared/BrandonGrotesque-Black/BrandonGrotesque-Black.woff") format("woff"), url("../shared/BrandonGrotesque-Black/BrandonGrotesque-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #333333;
  min-height: 100vh; }

.nav-name {
  font-family: 'brandon-grotesque-black';
  color: #7cb82f;
  font-size: 3rem;
  margin: auto; }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
  margin-top: 1rem; }
  .user-nav > * {
    padding: 0 2rem;
    margin: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav__li {
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-right: 2rem; }

.search {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 1rem 0rem;
    border-radius: 100px;
    width: 100%; }
  .search__button {
    border: none;
    border-radius: 10rem;
    background-color: #ffffff;
    margin-right: -4.5rem;
    z-index: 1; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: #000; }

.content {
  width: 80%;
  margin: auto; }
  .content__headline {
    font-family: 'brandon-grotesque-black';
    font-size: 6.4rem;
    color: #333333;
    margin-bottom: -2rem; }
  .content__paragraph {
    font-family: 'brandon-grotesque';
    font-size: 2.2rem;
    color: #333333;
    width: 65%; }
  .content__menu {
    align-self: stretch;
    display: flex;
    align-items: center; }
    .content__menu__description {
      font-size: 1.4rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      color: #b2b2b2;
      margin-right: 1rem; }
    .content__menu__nav {
      align-self: stretch;
      display: flex;
      align-items: center; }
      .content__menu__nav > * {
        padding: 0 2rem;
        margin: 0 -.5rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center; }
      .content__menu__nav__li {
        font-size: 1.4rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: #ff6900; }

.container {
  max-width: 144em;
  margin: -1rem auto 0;
  background-color: #ffffff;
  min-height: 50rem; }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #ffffff;
  border-bottom: 1px inset #f4f2f2;
  box-shadow: 0 0.1rem 1rem #888888;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem; }

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-auto-rows: 35rem;
  gap: 2rem;
  width: 80%;
  margin: auto; }

.gallery__img {
  width: 100%;
  height: 50%;
  object-fit: cover; }

.gallery__img-1 {
  border: 2px solid #0084ac;
  box-sizing: border-box; }

.gallery__img-2 {
  border: 2px solid #ff6900;
  box-sizing: border-box; }

.gallery__item {
  box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.15);
  display: flex;
  align-items: center;
  flex-direction: column; }
  .gallery__item-1 {
    grid-column-start: span 2; }

.gallery__indicator-1 {
  margin-top: -17.5rem;
  margin-bottom: 15.5rem;
  margin-left: -46.5rem;
  background-color: #0084ac; }

.gallery__indicator-2 {
  margin-top: -17.5rem;
  margin-bottom: 15.5rem;
  margin-left: -17rem;
  background-color: #ff6900; }

.gallery__indicator {
  display: flex;
  align-items: center;
  padding: 0 1rem; }
  .gallery__indicator__icon {
    fill: #ffffff;
    width: 2rem;
    height: 2rem; }
  .gallery__indicator__icon-name {
    color: #ffffff;
    font-family: 'brandon-grotesque';
    font-size: 1.5rem;
    margin-left: .5rem; }

.gallery__title {
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #888888;
  letter-spacing: .1rem;
  margin-top: 1rem; }

.gallery__line-1 {
  color: #0084ac;
  font-size: 10rem;
  margin-top: -5rem;
  margin-bottom: -4rem; }

.gallery__line-2 {
  color: #ff6900;
  font-size: 10rem;
  margin-top: -5rem;
  margin-bottom: -4rem; }

.gallery__line {
  color: #7cb82f;
  font-size: 10rem;
  margin-top: -5rem;
  margin-bottom: -4rem; }

.gallery__information {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #333333;
  letter-spacing: .1rem;
  text-align: center;
  margin-top: 2rem;
  width: 86%;
  font-size: 1.6rem; }

.gallery__information-1 {
  font-size: 2.4rem;
  margin-top: 1rem;
  width: 88%; }
